extends inc/base

block title
	title 我的红包

block page
	.page.redpacket
		.container
			h1.m-tb-md 我的红包
			// 规则
			.content.m-t-lg.touchmove
				.totle 总共获得 <span class="p-lr-xs">100</span> 元红包
				ol.m-t-lg
					li 2015.4.8  摇一摇第1次  9.99元
					li 2015.4.8  摇一摇第2次  6.66元
					li 2015.4.8  摇一摇第3次  0.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元
					li 2015.4.9  马小跳助力  9.99元

			.row.m-t-lg
				.col-xs-6.col-xs-offset-3
					a(href="main.html").btn.btn-lg.btn-block.btn-default 返回