extends inc/base

block title
	title 游戏规则

block page
	.page.rule
		.container
			h1.m-tb-md 游戏规则
			// 规则
			.content.touchmove
				ol
					li 规则规则规则规则
					li 规则规则

			.row.m-t-lg
				.col-xs-6.col-xs-offset-3
					a(href="main.html").btn.btn-lg.btn-block.btn-default 返回